body {
    font-family: "Bellota", system-ui;
    margin: 0;
    background-color: whitesmoke;
}

#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    box-shadow: #444 0px 0px 7px;
}

#title {
    display: flex;
    font-size: 80px;
    font-weight: 700;
    margin: 0;
    margin-top: -10px;
    color: #644;
}

#navbar {
    display: flex;
    box-shadow: #444 0px 0px 5px;
    height: 72px;
    justify-content: center;
}

.nav-element {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: #666 solid 1px;
    height: 40px;
    margin: auto;
    font-size: 26px;
    color: #644;
}

a {
    text-decoration: none;
    width: 25%;
    display: flex;
    text-align: center;
}

a .nav-element {
    width: 100%;
}

main {
    width: 900px;
    margin: 100px auto;
}

p {
    font-size: 24px;
    font-weight: 700;
}

@media (max-width: 720px) {
    #banner {
        height: 80px;
        box-shadow: #444 0px 0px 4px;
    }

    #title {
        font-size: 40px;
        margin: 0;
    }

    #navbar {
        height: 70px;
        padding-top: 5px;
        box-shadow: #444 0px 0px 2px;
    }

    .nav-element {
        font-size: 16px;
        line-height: 16px;
        margin: auto;
    }

    main {
        width: 88vw;
        margin: 40px auto 80px;
    }

    p {
        font-size: 16px;
    }    
}