body {
    background-color: #FFFFEE;
    margin: 0;
}

.banner {
    background-color: #FF1050;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 100px;
}

#dropdown {
    display: none;
}

#home-button {
    font-family: "Bebas Neue", sans-serif;
    font-size: 52px;
    text-decoration: none;
    color: white;
    margin: 30px 42px;
    align-self: center;
}

.banner-right {
    display: flex;
}

#navbar {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 22px;
    justify-content: space-around;
    align-content: center;
    margin-right: 32px;
}

.nav-item {
    color: white;
    text-decoration: none;
    margin: 12px;
}

.nav-item:hover {
    color: #FADA5E;
}

.flags {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#english, #spanish {
    width: 42px;
    padding: 3px 15px 3px 0px;
}

main {
    padding: 100px 50px;
}

#explanation {
    padding: 0 50px;
    max-width: 800px;
    margin: auto;
    font-family: "Poppins", sans-serif;
    text-align: justify;
    color: #E61040;
}

h4 {
    font-size: 18px;
    font-weight: 600;
} 

#container {
    padding: 0 50px;
    margin-top: 100px;
}

#form {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: auto;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #E41040;
}

label {
    margin: 10px 0 5px 0;
}

#fname, #lname {
    max-width: 360px;
    height: 24px;
    box-shadow: 2px 2px 2px #666;
    border: solid 1px #333;
}

#fname, #lname, #text-box {
    font-size: 17px;
}

#text-box {
    box-shadow: 2px 2px 3px #666;
}

#submit {
    margin: 10px;
    width: 180px;
    height: 42px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    color: white;
    border: 2px solid white;
    background-color: #FF1050;
    box-shadow: 1px 1px 4px #333;
    align-self: center;
}

#submit:hover {
    color: #FADA5E;
    font-size: 22px;
}

#submit:active {
        background-color: #791EA4;
}

footer {
    font-family: "Poppins", sans-serif;
    width: 100%;
    padding: 20px 0 0 100px;
    color: white;
    background-color: #FF1050;
    font-size: 16px;
    line-height: 22px;
    box-sizing: border-box;
}

@media (max-width: 1042px) {
    .banner {
        height: 70px;
    }
    
    #home-button {
        padding: 0;
        padding-left: 30px;
        margin: 0;
    }
    
    #navbar {
        font-size: 16px;
        margin-right: 20px;
    }
    
    .nav-item {
        margin: 6px;
    }

    #english, #spanish {
        width: 28px;
        padding: 2px 5px 2px 0px;
    }
    
    main {
        padding: 30px 0;
        justify-content: space-evenly;
    }
    
    .product-box {
        width: 330px;
        height: 480px;
        margin: 20px;
        border-top: 3px #00BBDD solid;
        border-right: 3px #FA7922 solid;
        border-bottom: 3px #791EA4 solid;
        border-left: 3px #FF1050 solid;
    }
    
    .product-image {
        width: 280px;
    }
    
    .product-title {
        height: 70px;
    }
    
    .product-name {
        font-size: 18px;
        line-height: 20px;
    }
    
    .product-price {
        font-size: 18px;
    }
    
    .product-description {
        -webkit-line-clamp: 3;
    }
    
    footer {
        font-family: "Poppins", sans-serif;
        width: 100%;
        height: 120px;
        padding: 0;
        padding-left: 50px;
        color: white;
        background-color: #FF1050;
        font-size: 18px;
        line-height: 22px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
    }
}

@media (max-width: 720px) {
    .banner {
        align-items: center;
    }

    .bar1, .bar2, .bar3 {
        width: 30px;
        height: 5px;
        border-radius: 3px;
        background-color: white;
        margin: 5px 0;
        transition: 0.4s;
    }
    
    .change .bar1 {
        transform: translate(0, 10px) rotate(-45deg);
    }
    
    .change .bar2 {
        opacity: 0;
    }
    
    .change .bar3 {
        transform: translate(0, -10px) rotate(45deg);
    }
    
    #burger {
        display: inline-block;
        margin-left: 15px;
    }

    .hidden-menu {
        display: none;
        position: absolute;
        background-color: #FF1050;
        min-width: 260px;
        min-height: 120px;
        z-index: 1;
        justify-content: space-evenly;
        border-radius: 3px;
    }

    .hidden-link {
        color: white;
        font-family: "Poppins", sans-serif;
        text-decoration: none;
        font-size: 20px;
        font-weight: 700;
        margin: 0 10px;
    }

    #dropdown {
        position: relative;
        display: inline-block;
    }

    .show {
        display: flex;
        flex-direction: column;
        animation: show 0.4s;
    }

    @keyframes show {
        0%{opacity: 0;}
        100%{opacity: 1;}
    }

    #home-button {
        font-size: 36px;
        padding: 0;
        margin: auto;
        margin-right: 15px;
    }
    
    #navbar {
        display: none;
    }

    .flags {
        display: flex;
        flex-direction: row;
        align-content: center;
        padding-right: 5px;
    }

    #english, #spanish {
        height: 36px;
        width: 36px;
        padding: 0;
    }

    main {
        padding: 10px 0 0 0;
        justify-content: center;
    }

    #explanation {
        padding: 0 30px;
    }

    h2 {
        font-size: 22px;
    }

    h4 {
        font-size: 15px;
        font-weight: 600;
    } 

    #container {
        padding: 0 30px;
        margin: 40px 0 60px 0;
    }

    #fname, #lname {
        font-size: 15px;
    }

    label {
        font-size: 16px;
        font-weight: 600;
    }

    footer {
        font-family: "Poppins", sans-serif;
        width: 100%;
        height: 100px;
        padding: 0;
        padding-left: 30px;
        color: white;
        background-color: #FF1050;
        font-size: 16px;
        line-height: 20px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
    }
}