body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

h1 {
    font-weight: 600;
}

#symbol {
    font-family: "Concert One", sans-serif;
    font-size: 70px;
    color: #ff9911;
    animation-name: coloring;
    animation-duration: 4s;
    animation-timing-function: ease-out;
}

@keyframes coloring {
    0% {color: #008080;
        transform: rotate(360deg);
        font-size: 120px;
    }
    20% {color: #008080;}
    35% {color: #ff9911;}
    40% {transform: rotate(360deg);}
    60% {transform: rotate(0deg);}
    75% {font-size: 120px;}
    100% {font-size: 70px;}
}

#business-card {
    display: flex;
    height: 15vh;
    max-width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: #008080;
    color: white;
    animation-name: shrink;
    animation-duration: 4s;
}

@keyframes shrink {
    0% {height: 100vh;}
    75% {height: 100vh;}
    100% {height: 15vh;}
}

#first-minicard, #second-minicard, #third-minicard {
    height: 15vh;
}

#first-minicard {
    align-content: start;
    animation-name: appear;
    animation-duration: 4s;
    animation-timing-function: ease-out;
}

@keyframes appear {
    0% {transform: translateY(-300px);
        opacity: 0;
        height: 40vh;
    }
    40% {transform: translateY(-300px);
        opacity: 0;}
    60% {transform: translateY(0px);
        opacity: 1;}
    75% {height: 40vh;}
    100% {height: 15vh;}
}

#second-minicard {
    align-content: center;
    margin-top: -10px;
}

#third-minicard {
    align-content: end;
    animation-name: surge;
    animation-duration: 4s;
    animation-timing-function: ease-out;
}

@keyframes surge {
    0% {transform: translateY(300px);
        opacity: 0;
        height: 40vh;
    }
    40% {transform: translateY(300px);
        opacity: 0;}
    60% {transform: translateY(0px);
        opacity: 1;}
    75% {height: 40vh;}
    100% {height: 15vh;}    
}

.title-h {
    margin: 20px;
    font-size: 42px;
    font-weight: 600;
    animation-name: descale;
    animation-duration: 4s;
    animation-timing-function: ease-out;
}

@keyframes descale {
    0% {font-size: 60px;}
    75% {font-size: 60px;}
    100% {font-size: 42px;}
}

#pages {
    display: flex;
    justify-content: center;
    margin: 30px;
    margin-top: 50px;
}

#page {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    background-color: #008080;
    border: 4px #ff9911 solid;
    border-radius: 15px;
}

#link {
    text-decoration: none;
}

#page-img {
    margin: 0;
    max-width: 500px;
    border-radius: 11px 11px 0 0;
}

#page-name, #page-description {
    color: white;
}

#page-name {
    margin: 15px 10px 10px 10px;
}

#page-description {
    margin: 10px 10px 20px 10px;
}
